{% extends 'base.html' %}

{% block content %}

<section class="review-page">

    <div class="review-container">

        <div class="review-left">

            <div class="review-icon">
                ⭐
            </div>

            <h2>Review {{ helper.name }}</h2>

            <p>
                Your feedback helps other users choose the best helper.
            </p>

            <div class="helper-review-card">

                <h4>Helper Name</h4>

                <span>{{ helper.name }}</span>

            </div>

        </div>

        <div class="review-right">

            <h3>Share Your Experience</h3>

            <form method="POST">

                {% csrf_token %}

                <div class="form-group">

                    <label>Rating (1 - 5)</label>

                    <input
                        type="number"
                        name="rating"
                        min="1"
                        max="5"
                        class="review-input"
                        placeholder="Enter Rating"
                        required
                    >

                </div>

                <div class="form-group">

                    <label>Your Feedback</label>

                    <textarea
                        name="comment"
                        rows="5"
                        class="review-input"
                        placeholder="Write your experience here..."
                        required
                    ></textarea>

                </div>

                <button class="submit-review-btn">
                    Submit Review
                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}