{% extends 'base.html' %}

{% block content %}

<section class="auth-page">

    <div class="auth-container">

        <div class="auth-left">

            <h1>HomeAssist</h1>

            <p>
                Find trusted helpers for your daily needs.
            </p>

            <div class="auth-icon">
                🏠
            </div>

        </div>

        <div class="auth-right">

            <h2>Welcome Back 👋</h2>

            <form method="POST">

                {% csrf_token %}

                <input type="text"
                       name="username"
                       placeholder="Username"
                       class="auth-input">

                <input type="password"
                       name="password"
                       placeholder="Password"
                       class="auth-input">

                <button class="auth-btn">
                    Login
                </button>

            </form>

            <p class="switch-auth">

                Don't have an account?

                <a href="{% url 'signup' %}">
                    Sign Up
                </a>

            </p>

        </div>

    </div>

</section>

{% endblock %}