{% extends 'base.html' %}

{% block content %}

<section class="auth-page">

    <div class="auth-container">

        <div class="auth-left">

            <h1>Join HomeAssist</h1>

            <p>
                Create your account and start booking helpers.
            </p>

            <div class="auth-icon">
                🚀
            </div>

        </div>

        <div class="auth-right">

            <h2>Create Account</h2>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="auth-btn">
                    Create Account
                </button>

            </form>

            <p class="switch-auth">

                Already have an account?

                <a href="/accounts/login/">
                    Login
                </a>

            </p>

        </div>

    </div>

</section>

{% endblock %}